---
import Layout from '../layouts/Layout.astro';
import FormContact from '../components/FormContact.astro';
import cover from '../../public/cover2.jpg';
import { Image } from 'astro:assets';

export const prerender = true;
---

<Layout title="Contact">
	<main
		class="w-full overflow-y-auto h-[calc(100dvh-146px)] sm:h-auto flex flex-col lg:flex-row gap-5 lg:gap-28"
	>
		<div
			class="relative flex items-center sm:h-[calc(100dvh-146px)] w-full lg:w-1/2"
		>
			<Image
				src={cover}
				alt="Banner"
				class="max-h-full object-cover brightness-50"
			/>
			<div
				class="absolute top-0 w-full h-full bg-gradient-to-b lg:bg-gradient-to-r from-transparent via-transparent to-[#0d0d0d]"
			>
			</div>
		</div>
		<section
			class="py-4 px-8 mx-auto lg:m-0 lg:px-0 w-full h-[calc(100dvh-144px)] lg:w-1/2 lg:pl-10 prose prose-invert"
		>
			<h1>Contact</h1>
			<FormContact < section />
		</section>
	</main></Layout
>
