---
const year = new Date().getFullYear();

export const prerender = false;
---

<footer class="w-full h-16 border-t border-t-[#FF0090] flex items-center justify-center"> 
    <span class="text-[#FFEA00]">© {year}</span>
</footer>
